# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables & credentials
.env
*.env
.atlas-credentials.env
.vscode

# Build outputs & logs
dist/
build/
*.log
.DS_Store
